.input-element {
	display: flex;
	flex-direction: column;
}
#female {
	margin-left: 10px;
}

/* label has class error */
.error {
	color: red;
}

.has-error,
.has-error:focus {
	border: 1px solid #EB3333 !important;
}

[aria-invalid='false']:focus {
	border: 1px solid #089740 !important;
}

[aria-invalid='true']:focus,
[aria-invalid='true'] {
	border: 1px solid #EB3333 !important;
}