main>form{
    min-width: 450px;

}
main>form *{
    font-size: 16px;
}
.input-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 450px;
    margin-bottom: 10px;
}
.input-box.input-box-l{
	width: 550px;
}
.input-box label:not(label[for="male"],label[for="female"]){
    font-weight: 650;
}
.input-box label span{
    color: var(--danger);
}
input:not(input[type=radio]),select{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 8px;
    border:1px solid rgba(0,0,0,.4);
}   
input:focus,select:focus{
    outline: none;
}
.input-box{
	border-color:rgba(0,0,0,0.4);
}
.input-box .group-label{
	display:flex;
	align-items:center;
	justify-content:center;
	border:1px solid;
	border-radius:5px;
	margin-bottom:5px;
	border-color:inherit;
}

.input-box .group-label label{
	background-color: rgba(0,0,0,0.3);
	border-right:1px solid;
	border-color: inherit;
	display:block;
	min-width: 100px;
	padding:7px 5px;
}
.input-box .group-label input{
	border:none;
	padding:0 5px;
	margin:0;
}

.group-label:has(.error){
	position:relative;
	margin-bottom: 40px;
}

#toDate-error{
	position:absolute;
	left:-5px;
	top:40px;
	background-color: #fff;
}

.input-box div:has(.has-error){
	border-color: red;
}

.input-box:has(input[type="number"]){
	position:relative;
}
.input-box:has(input[type="number"])::after{
	content: attr(data-unit);
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-70%);
}

.input-box .error-message,.input-box .error{
    color: var(--danger);
    grid-column-start:2;
    display: none;
}
.inputed:has(input:invalid,select:invalid,input.invalid,select.invalid) .error-message{
    display: block;
}
.inputed input.invalid,.inputed input:invalid,.input-box:has(.invalid) input{
    border-color: var(--danger);
}
input[aria-invalid='false']:not(.invalid){
	border-color:var(--success);
}
.input-box:has(input#password){
    position: relative;
}
.input-box:not(.inputed) i{
	display:none;
}
.input-box .far{
    position: absolute;
    right:10px;
    top: 8px;
}
.hidden{
    display: none;
}
footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 450px;
}
footer .btn{
    border-radius: 5px;
}