:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
body>aside{
	position: absolute;
    right: 00px;
    top: 60px;
    width: 1px;
    height: calc(100vh - 120px);
}
/* toast css */
@keyframes show-toast {
  10% {
    left: -320px;
    opacity: 1;
  }
  90% {
    left: -320px;
    opacity: 1;
  }
  95% {
    left: -380px;
    opacity: 1;
  }
}
.fe-toast {
  position: relative;
  background-color: rgb(252, 252, 252);
  width: 250px;
  min-height: 100px;
  padding: 10px 20px;
  margin-bottom: 10px;
  opacity: 0;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  left: -260px;
}
.fe-toast.fe-toast-show {
  animation-name: show-toast;
  animation-timing-function: ease;
  animation-duration: 5s;
}

.fe-toast::before {
  content: "";
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.fe-toast.fe-primary::before {
  background-color: var(--primary);
}
.fe-toast.fe-success::before {
  background-color: var(--success);
}
.fe-toast.fe-warning::before {
  background-color: var(--warning);
}
.fe-toast.fe-error::before {
  background-color: var(--danger);
}
.fe-toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}